# Core
pandas>=2.0
numpy>=1.24

# BigQuery
google-cloud-bigquery>=3.11
google-cloud-bigquery-storage>=2.22
db-dtypes>=1.1

# Statistics
scipy>=1.11
statsmodels>=0.14
scikit-posthocs>=0.8        # Dunn's post-hoc test

# Modelling
scikit-learn>=1.3
xgboost>=2.0

# Visualisation
matplotlib>=3.7
SciencePlots>=2.1
